.containerAvatar {
  width: 100%;
  max-width: 100px;

  display: flex;
}
.avatar img {
  width: 70px;
  border-radius: 50%;
}
.avatar {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}
.avatar:focus {
  outline: 1px solid #191970;
}
